<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<link rel="stylesheet" type="text/css" href="/css/grid.css" />
		<link rel="stylesheet" type="text/css" href="/css/basic.css" />
		<link rel="stylesheet" type="text/css" href="/css/header.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<script src="/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="/kindeditor/themes/default/default.css" />
		<script charset="utf-8" src="/kindeditor/kindeditor-min.js"></script>
		<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;uid=2116126" charset="utf-8"></script>
<!-- JiaThis Button END -->
	</head>

	<body>
		<header class="header">
			<nav class="nav-bar row">
				<ul>
					<li class="col-lg-9">
						<a href="/">首页</a>
						<a title="标签" href="/tags/javascript">javascript</a>
						<a title="标签" href="/tags/HTML">HTML</a>
						<a title="标签" href="/tags/CSS">CSS</a>
						<a title="标签" href="/tags/Node">node</a>
						<a title="标签" href="/tags/Mongodb">Mongodb</a>
						<a title="标签" href="/tags/mobile">Mobile</a>
						<a href="/admin/post" target="_blank">发布</a>
						<a href="/admin/logout">退出</a>
						<a href="/tags/<%= user.name %>"><span>用户：</span><%= user.name %></a>
					</li>
					<li class="col-lg-3 search">
						<form action="/search" method="GET">
							<i class="fa fa-search"></i><input type="text" name="keyword" id="search" value="" placeholder="搜索" />
						</form>
					</li>
				</ul>
			</nav>
		</header>
		